{% extends "2_notes/category_list.html" %}
{% load crispy_forms_tags %}

{% block item %}
<div class="row">
    <div class="col-md-9">
        <div class="col-md-12 content">
            <div class="d-flex justify-content-between content-header">
              <h1>Delete {{category.category}}</h1>
            </div>
            <div class="content-body">
              <form action="{% url 'delete_category' category.pk %}" method="POST">
                  {% csrf_token %}
                  <strong>Are you sure you want to delete it?</strong>
                  <br><br>
                  <p>To delete, type the category title <span style="color:red;">{{category.category}}</span> in the blank.</p>
                  {% if message %}
                      {{ message }}
                  {% endif %}
                  <input class="form-control" type="text" name="title">
                  <br>
                  <button style="float:right;"class="btn btn-outline-dark">Delete</button>
              </form>
            </div>
        </div>

      </div>

      <div class="col-md-3">

     

      </div>
</div>

{% endblock item %}


