{% extends "2_notes/topic_list.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/notes/notes_styles.css' %}"/>
<link rel="stylesheet" href="{% static 'css/notes/note_margin.css' %}"/>
<link rel="stylesheet"
      href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/railscasts.css'%}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock static %}

{% block nav-brand %}
  <div class="sidebar-heading border-bottom ">Notes : {{ topic.topic }}</div>
{% endblock nav-brand %}

{% block sidebar %}
<div class="list-group">
  {% if topic.notes.exists %}
    {% for note in topic.notes.all %}
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'note_detail' topic_pk=topic.pk note_pk=note.uuid %}">{{note.order}}. {{note.title}}</a>
    {% endfor %}
  {% endif %}
</div>
{% endblock sidebar %}

{% block item %}

<div class="row">
    <div class="col-md-9">
      <div class="col-md-12 content">
        <div class="d-flex justify-content-between content-header">
          <h1>Create New Note</h1>
        </div>
        <div class="content-body">
          <form action="{% url 'create_note' topic.pk %}" method="POST">
              {% csrf_token %}
              {{ form.media }}
              {{ form|crispy }}
              <button style="float: right;" class="btn btn-outline-dark"type="submit"> Create </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
     
    </div>
</div>

{% endblock item %}


